@import '../main.scss';

.about {
  background-color: $color-gray-light-1;
  padding: 10rem 0;
  // move up the entire component to cover the white space from the clip path of header w negative margin
  margin-top: calc(-91vh * 0.15);
  padding-bottom: 20rem;
}

.features {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)),
    url(../../images/p2.jpg);
  background-size: cover;
  background-position: center;
  // clip-path: polygon(0 20%, 80% 0, 100% 0, 100% 80%, 0 100%);
  transform: skewY(-7deg);
  // move up features section to eliminate empty whitespace
  margin-top: -8rem;


  & > * {
    transform: skewY(7deg);
  }
}

.tours {
  margin-top: -6rem;
  background-color: $color-gray-light-1;
  padding: 10rem 0 8rem 0;
}

.stories {
  padding: 3rem 0rem;
  position: relative;
}

.booking {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);


  .book {
    background-image: linear-gradient(105deg, rgba($color-white, .6) 0%, rgba($color-white, .9) 50%, transparent 50%),  url(../../images/p3.jpg);
    background-size: cover;
    // height: 35rem;
    width: 65rem;
    border-radius: $box-radius;
    box-shadow: 0 .5rem .6rem rgba($color-black, .15);
    
    &_form {
      text-align: left;
      width: 50%;
      padding: 3rem;
    }

  }
}
