@import '../abstracts/variables';

.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3.5rem;
    padding: .8rem 1.7rem;
    transition: all 0.2s;
    /* to position the ::after element on top and behind this element */
    position: relative;
    
    // change for button elements
    border: none;
    cursor: pointer;

  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 .6rem 1.2rem rgba($color-black, .2);
  }

  &:active,
  &:focus {
    outline:none;
    transform: translateY(-1px);
    box-shadow: 0 .3rem .6rem rgba($color-black, .2);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 6.5em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .3s;
  }

  // Make the element behind the main anchor bigger and fade at same time based on transition time 
  &:hover::after {
    transform: scale(1.4, 1.6);
    opacity: 0;
  }

  &___white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &___green {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
    }
  }

  &___animated {
    animation-name: moveFromBelow;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-fill-mode: backwards;
  }
}

.btnText {


  &:link,
  &:visited {
  color: $color-primary;
  padding: .3em;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid $color-primary;
  transition: all .2s;
  }
  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 .6rem 1.2rem rgba($color-black, .15);
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 .3rem 1.2rem rgba($color-black, .15);
  }

}