@import '../main.scss';

.btn {

  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 6.5em;
    padding: 1em 2.5em;
    transition: all 0.2s;
    /* to position the ::after element on top and behind this element */
    position: relative;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba($color-black, .2);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba($color-black, .2);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 6.5em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .3s;
  }

  // Make the element behind the main anchor bigger and fade at same time based on transition time 
  &:hover::after {
    transform: scale(1.4, 1.6);
    opacity: 0;
  }

  &___white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &___animated {
    animation-name: moveFromBelow;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-fill-mode: backwards;
  }
}