.u_center_text {
  text-align: center;
}

.u_margin_bottom_small {
  margin-bottom: 1rem;
}
.u_margin_bottom_medium {
  margin-bottom: 2.5rem;
}
.u_margin_bottom_big {
  margin-bottom: 5rem;
}

.u_margin_top_huge {
  margin-top: 6.1rem;
}
.u_margin_top_big {
  margin-top: 5rem;
}